<div id="page-content-wrapper">
    <div class="page-content inset" data-ng-switch="activeJail.currentView">

      <div class="row" data-ng-switch-when="Overview">

          <div class="col-md-12">
            <h4>Find Time - {{activeJail.data.find_time}}</h4>
          </div>
          
          <div class="col-md-12">
            <h4>Max Retry - {{activeJail.data.max_retry}}</h4>
          </div>
          
          <div class="col-md-12">
            <h4>Use DNS - {{activeJail.data.currently_banned}}</h4>
          </div>
          
          <div class="col-md-12">
            <h4>Currently Failed - {{activeJail.data.current_failed}}</h4>
          </div>

        <div class="col-md-12">
            <h4>Total Failed - {{activeJail.data.total_failed}}</h4>
          </div>
        
          <div class="col-md-12">
            <h4>Total Banned - {{activeJail.data.total_banned}}</h4>
          </div>
        
          <div class="col-md-12">
            <h4>Currently Banned - {{activeJail.data.currently_banned}}</h4>
          </div>
        
          <div class="col-md-12">
            <h4>Currently Failed - {{activeJail.data.current_failed}}</h4>
          </div>
        
          <div class="col-md-12">
            <h4>Banned IP List</h4>
            <ul data-ng-repeat="ip in activeJail.data.ip_list">
              <li>
                {{ip}}
                <a href="https://whois.domaintools.com/{{ip}}" target="_blank"><span style="color: blue" class="icon-link glyphicon glyphicon-flag"></span></a>
                <span style="color: red" data-ng-click="clickUnBanIPAddress(ip)"
                  class="icon-link glyphicon glyphicon-remove"></span>
              </li>
            </ul>
          </div>
        
          <form class="col-md-12 form-inline" role="form">
            <div class="form-group">
              <label class="sr-only" for="banIPAddress">IP Address</label>
              <input type="text" class="form-control" id="banIPAddress" data-ng-model="banIPAddress"
                placeholder="Enter IP Address">
            </div>
            <button type="submit" class="btn btn-danger" data-ng-click="clickBanIPAddress(banIPAddress)">Ban IP Address</button>
          </form>

        <div class="col-md-12">
          <h4>Scanned File List</h4>
          <p class="well" data-ng-repeat="file in activeJail.data.file_list"> {{file}} </p>
        </div>
      </div>

      <div class="row" data-ng-switch-when="failRegexes">
        <div class="col-md-12">
          <h4>Fail Regexes</h4>
          <ul data-ng-repeat="regex in activeJail.data.fail_regexes track by $index">
            <li>
                {{regex}}
                <span style="color: red" data-ng-click="clickDeletefail_regex(regex)" class="icon-link glyphicon glyphicon-remove"></span>
            </li>
          </ul>
        </div>

        <form class="col-md-12 form-inline" role="form">
          <div class="form-group">
            <label class="sr-only" for="addfail_regex">Fail Regex</label>
            <textarea class="form-control" data-ng-model="addfail_regex" placeholder="Enter Fail Regex"> </textarea>
          </div>
          <button type="submit" class="btn btn-danger" data-ng-click="clickAddfail_regex(addfail_regex)">Add Fail Regex</button>
        </form>

        <div class="col-md-12">
          <h4>Test Fail Regexes</h4>

          <div data-ng-repeat="(jail, lines) in activeJail.testfail_regex">
            <h5> {{jail}} </h5>
            <ul class="list-unstyled" data-ng-repeat="line in lines">
              <li data-ng-class="{'text-danger': line.Match}"> {{line.Line}} </li>
            </ul>
          </div>

        </div>

        <form class="col-md-12 form-inline" role="form">
          <div class="form-group">
            <label class="sr-only" for="testfail_regex">Fail Regex</label>
            <textarea class="form-control" data-ng-model="testfail_regex" placeholder="Enter Fail Regex"> </textarea>
          </div>
          <button type="submit" class="btn btn-danger" data-ng-click="clickTestfail_regex(testfail_regex)">Test Fail Regex</button>
        </form>

      </div>

      <div data-ng-switch-when="failedIPs">
        <div class="row" style="padding-top: 2em">

          <div class="col-md-12">
            <h4> Ban History </h4>
          </div>
          <div data-ng-if="hasPersistantDB">
            <div data-ac-chart="'pie'"
              data-ac-data="chartData"
              data-ac-config="chartConfig"
              class="chart">
            </div>

            <table class="table table-striped" >
              <tr>
                <th> Date </th>
                <th> IP </th>
                <th> Matches </th>
              </tr>
              <tr data-ng-repeat="ban in groupedBans[hoveredHost]">
                <td> {{ban.TimeOfBanString}} </td>
                <td> {{ban.IP}} </td>
                <td>
                  <div data-ng-repeat="match in ban.Data.Matches">
                    {{match}}
                  </div>
                </td>
              </tr>
            </table>
          </div>

          <div class="col-md-12" data-ng-if="!hasPersistantDB">
            <div class="well well-lg error-well">
              Your fail2rest instance is reporting that you don't have a persisted DB  <br/> <br/>

              This might mean you are running on old version of fail2ban (pre 0.9), don't have
              the persisted DB enabled or don't have the permissions to read it.
            </div>
          </div>

        </div>
      </div>
    </div>
</div>

